@import "tailwindcss";

@theme inline {
  --color-background: #050505;
  --color-foreground: #f5f5f4;
  /* text-stone-100 */
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

:root {
  --background: #050505;
  --foreground: #f5f5f4;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Custom earthy scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #44403c;
  /* text-stone-700 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #57534e;
  /* text-stone-600 */
}